body {
        font-family: Raleway, Helvetica, Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0 auto;
        padding: 1rem;
        color: #b5bdc9;
        background-color: #3a4350;
        transition: background-color 0.3s, color 0.3s;
    }

    body {
        font-size: 1rem;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    @media (max-width: 600px) {
        .container,
        .container_footer {
            margin: 0.5rem auto;
            padding: 1rem;
        }
    }

    .container {
        background-color: #19222f7b;
        padding: 2rem;
        border-radius: 1rem;
        border: 1px solid #19222f;
        margin: 0 0 0.5em 0;
        -webkit-filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.25));
        filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.25));
    }

    .container,
    .container_footer {
        width: 100%;
        max-width: 30rem;
        margin: 1rem auto;
        padding: 2rem;
        box-sizing: border-box;
    }


    .container_footer {
        background-color: #19222f7b;
        padding: 2rem;
        /* Match .container */
        border-radius: 1rem;
        border: 1px solid #19222f;
        margin: 0 0 0.5em 0;
        box-sizing: border-box;
        -webkit-filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.25));
        filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.25));
    }

    .social {
        list-style-type: none;
        padding: 0;
        margin: 1em 0 0 0;
        text-align: center;
    }

    .footer {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    h2 {
        color: #b5bdc9;
        font-weight: 400;
        text-align: center;
        margin: 0.5em 0 0 0;
        -webkit-filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.7));
        filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.7));
    }

    a {
        color: #b2bce4;
        text-decoration: none;

    }

    p,
    li {
        -webkit-filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.7));
        filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.7));
    }

    a:hover {
        text-decoration: none;
        color: #dea116;
        text-shadow: 0 0 0.25rem #ff0000;
        transition: color 0.3s;
        -webkit-filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0));
        filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0));
    }

    ul,
    li {
        margin: 0.1rem;
        padding: 0.25rem;
    }

    .footer li {
        font-size: smaller;
    }

    picture {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 2em 0;
    }

    img {
        -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.7));
        filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.7));
    }
