body {
    font-family: Rubik-light, Helvetica, Arial, sans-serif;
    color: #B5BDC9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    flex-direction: column;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.card, footer {
    background: #14171B;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    transition:
        background 0.3s,
        color 0.3s;
}

.card p {
    text-align: left;
}

.logo {
    max-width: 100%;
    height: auto;
}

h2 {
    color: #B5BDC9;
}

a {
    color: #f4e2b9;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #dea116;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    display: inline-block;
    margin: 5px 5px;
    color: #f4e2b9;
    font-size: 16px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #dea116;
}

footer p {
    margin: 5px 0;
    font-size: small;
}

