body {
    font-family: Rubik, Helvetica, Arial, sans-serif;
    color: #b5bdc9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3a4350;
    flex-direction: column;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.card, footer {
    background: #14171b7b;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    text-align: center;
    width: 400px;
    transition:
        background 0.3s,
        color 0.3s;
}

.card p {
    text-align: left;
}

.logo {
    max-width: 100%;
    height: auto;
}

img {
   -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.7));
   filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.7));
}


h2 {
    color: #b5bdc9;
    font-weight: 500;
}

a {
    color: #b2bce4;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #dea116;
    text-shadow: 0 0 8px #ff0000;

}

dfn {
    font-style: normal;
    color: #b2bce4;
}

dfn:hover {
    text-shadow: 0 0 8px #ff0000;
    cursor: help;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    display: inline-block;
    margin: 5px 5px;
    color: #b2bce4;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #dea116;
    text-shadow: 0 0 8px #ff0000;

}

footer p {
    margin: 5px 0;
    font-size: small;
}
